# Curriculum Vitae URL
CV_URL=https://drive.google.com/file/d/your_drive_file_id/preview
CV_DOWNLOAD_URL=https://drive.google.com/uc?export=download&id=your_drive_file_id

# Backend API Base URL
NEXT_PUBLIC_BASE_API_URL=http://localhost:5000/api
